<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="">
            <!-- Facebook -->
            <!-- <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a> -->

            <!-- Twitter -->
        </section>
        <!-- Section: Social media -->


        <!-- Section: Text -->
        <section class="">
            <p>
                Content Manager
            </p>
        </section>
        <!-- Section: Text -->



        <!-- Copyright -->
        <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Parada Cao Juan Pablo</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->