<div *ngIf=isLoading>
    <app-spiner></app-spiner>
</div>

<!-- ! Viejo con height relativo -->
<!-- <div *ngIf="!isLoading">
    <iframe [src]="videoUrl" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div> -->

<!-- ! Viejo con height absoluto -->
<div *ngIf="!isLoading">
    <iframe width="560" height="315" [src]="videoUrl" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        style="max-width: 100%; max-height: 100%;">
    </iframe>
</div>

<!-- ! Viejo prueba video harcoded -->
<!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->