<h1 class="text-center my-3"> Ver contenido individual</h1>
<ng-container *ngIf="isLoading">
    <app-spiner></app-spiner>
</ng-container>

<ng-container *ngIf="!isLoading">
    <div class="container">
        <p> Titulo:{{contentItem.title}}</p>
        <p> Id:{{contentItem.id}}</p>
        <p> Tipo: {{contentItem.contentType}}</p>
        <ng-container *ngIf="contentItemMinutes !== 0">
            <p> Duración: {{contentItemMinutes}} minutos </p>
        </ng-container>
        <p> Tags: {{contentItem.tags}}</p>
        <p> Rating: {{contentItem.rating}}</p>
        <p> Fecha Creacion: {{getDate()}}</p>
        <p> Video Url: {{contentItem.videoUrl? contentItem.videoUrl : "No hay url de video"}}</p>


        <div class="flex space-x-3">
            <button (click)="onEditContent(contentItem)" mat-raised-button [mat-dialog-close]="true"
                class="searchFilterButton bg-green-500 text-white">
                Editar
            </button>

            <button (click)="onCreateContent()" mat-raised-button class="searchFilterButton bg-indigo-700 text-white"
                [mat-dialog-close]="true">
                Crear Nuevo
            </button>
        </div>
    </div>
</ng-container>