<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" class="py-10">
    <mat-card class="flex justify-evenly mx-auto text-center space-y-10 ">
        <div>
            <mat-card-title>Bienvenidos a Content Manager</mat-card-title>
        </div>

        <div>
            <mat-button routerLink="/inicio"
                class="text-decoration-none px-3 py-2 text-2xl bg-blue-500 hover:bg-blue-600 duration-200 rounded-md text-white  cursor-pointer">
                Ingresar
            </mat-button>
        </div>
    </mat-card>
</div>